In [1]:
import pandas as pd
distancedf = pd.read_csv('distance.csv')
masterdf   = pd.read_csv('MasterSheet.csv')
logdf = pd.read_csv("log.csv")

In [2]:
cscount  = len(masterdf.index)
time     = 12
reqcs    = 'CS_11'

#make time, reqcs dynamic

In [3]:
i=1
flag=0
while(i<=cscount):
    cs = "CS_"+str(i)
    if(cs!=reqcs):
        df = pd.read_csv("cs_data\\"+cs+".csv")
        df.set_index('Hour', inplace=True)
        df = df[df.index==time]
        if(flag==0):
            flag= 1
            dff = df
        else:
            dff = dff.append(df)
    i=i+1   

#get datas corresponding to cs and time

In [4]:
station = []
temp_distance = 0
for index, rows in masterdf.iterrows(): 
    s_list = rows.Station_ID
    if(s_list!=reqcs):
        station.append(s_list)    
dff['Station'] = station
dff['Distance'] = temp_distance
dff.set_index('Station', inplace=True)

#set stations and distance

In [5]:
distance = distancedf[distancedf['L1'] == reqcs]

#got the reqcs distance and list of other cs

In [6]:
for indexa, rowsa in dff.iterrows(): 
    for indexb, rowsb in distance.iterrows():
        if(indexa==rowsb.L2):
            dff.at[indexa,'Distance']=distance.at[indexb,'Distance']
            
dff

         Energy   Predicted    Amount  Dirty_bit  Distance
Station
CS_1         49   52.891820  3.891820          0        50
CS_2         81   85.394449  4.394449          0        53
CS_3        113  117.727388  4.727388          0        58
CS_4        118  122.770685  4.770685          0        59
CS_5        155  160.043425  5.043425          0        57
CS_6        143  147.962845  4.962845          0        79
CS_7        138  142.927254  4.927254          0        44
CS_8        121  125.795791  4.795791          0        46
CS_9        170  175.135798  5.135798          0        30
CS_10       156  161.049856  5.049856          0        21
CS_12       172  177.147494  5.147494          0        54
CS_13       115  119.744932  4.744932          0        49
CS_14       263  268.572154  5.572154          0        57

In [7]:
dff.to_csv('Analysis\T'+str(time)+'.csv')

#write time analysis

In [8]:
dff.sort_values("Amount", axis = 0, ascending = True, inplace = True)
dff

         Energy   Predicted    Amount  Dirty_bit  Distance
Station
CS_1         49   52.891820  3.891820          0        50
CS_2         81   85.394449  4.394449          0        53
CS_3        113  117.727388  4.727388          0        58
CS_13       115  119.744932  4.744932          0        49
CS_4        118  122.770685  4.770685          0        59
CS_8        121  125.795791  4.795791          0        46
CS_7        138  142.927254  4.927254          0        44
CS_6        143  147.962845  4.962845          0        79
CS_5        155  160.043425  5.043425          0        57
CS_10       156  161.049856  5.049856          0        21
CS_9        170  175.135798  5.135798          0        30
CS_12       172  177.147494  5.147494          0        54
CS_14       263  268.572154  5.572154          0        57

In [9]:
dff.sort_values("Distance", axis = 0, ascending = True, inplace = True)
dff

         Energy   Predicted    Amount  Dirty_bit  Distance
Station
CS_10       156  161.049856  5.049856          0        21
CS_9        170  175.135798  5.135798          0        30
CS_7        138  142.927254  4.927254          0        44
CS_8        121  125.795791  4.795791          0        46
CS_13       115  119.744932  4.744932          0        49
CS_1         49   52.891820  3.891820          0        50
CS_2         81   85.394449  4.394449          0        53
CS_12       172  177.147494  5.147494          0        54
CS_5        155  160.043425  5.043425          0        57
CS_14       263  268.572154  5.572154          0        57
CS_3        113  117.727388  4.727388          0        58
CS_4        118  122.770685  4.770685          0        59
CS_6        143  147.962845  4.962845          0        79

In [10]:
dff.sort_values("Dirty_bit", axis = 0, ascending = True, inplace = True)
dff = dff.reset_index()
dff

   Station  Energy   Predicted    Amount  Dirty_bit  Distance
0    CS_10     156  161.049856  5.049856          0        21
1     CS_9     170  175.135798  5.135798          0        30
2     CS_7     138  142.927254  4.927254          0        44
3     CS_8     121  125.795791  4.795791          0        46
4    CS_13     115  119.744932  4.744932          0        49
5     CS_1      49   52.891820  3.891820          0        50
6     CS_2      81   85.394449  4.394449          0        53
7    CS_12     172  177.147494  5.147494          0        54
8     CS_5     155  160.043425  5.043425          0        57
9    CS_14     263  268.572154  5.572154          0        57
10    CS_3     113  117.727388  4.727388          0        58
11    CS_4     118  122.770685  4.770685          0        59
12    CS_6     143  147.962845  4.962845          0        79

In [11]:
dff.Dirty_bit[0] = 1
dff

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   Station  Energy   Predicted    Amount  Dirty_bit  Distance
0    CS_10     156  161.049856  5.049856          1        21
1     CS_9     170  175.135798  5.135798          0        30
2     CS_7     138  142.927254  4.927254          0        44
3     CS_8     121  125.795791  4.795791          0        46
4    CS_13     115  119.744932  4.744932          0        49
5     CS_1      49   52.891820  3.891820          0        50
6     CS_2      81   85.394449  4.394449          0        53
7    CS_12     172  177.147494  5.147494          0        54
8     CS_5     155  160.043425  5.043425          0        57
9    CS_14     263  268.572154  5.572154          0        57
10    CS_3     113  117.727388  4.727388          0        58
11    CS_4     118  122.770685  4.770685          0        59
12    CS_6     143  147.962845  4.962845          0        79

In [12]:
station = dff.at[0,'Station']
station

'CS_10'

In [13]:
reqdf = pd.read_csv("cs_data\\"+reqcs+".csv")
resdf = pd.read_csv("cs_data\\"+station+".csv")
reqdf.set_index('Hour', inplace=True)
resdf.set_index('Hour', inplace=True)
reqdf.Energy[time] = reqdf.Energy[time] + reqdf.Amount[time]
resdf.Energy[time] = resdf.Energy[time] - reqdf.Amount[time]
reqdf.Amount[time] = reqdf.Predicted[time] - reqdf.Energy[time]
resdf.Amount[time] = resdf.Predicted[time] - resdf.Energy[time]
resdf.Dirty_bit[time]=1
datadf = pd.DataFrame(reqdf)
datadf.to_csv('cs_data\\'+reqcs+'.csv')
datadf = pd.DataFrame(resdf)
datadf.to_csv('cs_data\\'+station+'.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      Energy   Predicted    Amount  Dirty_bit
Hour
1        146  150.983607  4.983607          0
2        102  106.624973  4.624973          0
3        161  166.081404  5.081404          0
4         71   75.262680  4.262680          0
5         97  101.574711  4.574711          0
6        122  126.804021  4.804021          0
7        196  201.278115  5.278115          0
8         88   92.477337  4.477337          0
9        107  111.672829  4.672829          0
10       198  203.288267  5.288267          0
11       133  137.890349  4.890349          0
12       156  161.049856  5.049856          1
13       171  176.141664  5.141664          0
14       115  119.744932  4.744932          0
15       155  160.043425  5.043425          0
16       152  157.023880  5.023881          0
17       152  157.023880  5.023881          0
18       127  131.844187  4.844187          0
19       119  123.779124  4.779123          0
20        78   82.356709  4.356709          0
21       114  118.736198  4.736198          0
22       106  110.663439  4.663439          0
23       166  171.111988  5.111988          0
24       149  154.003946  5.003946          0

In [15]:
log = {'Time':[time],'Req Cs':[reqcs],'From CS':[station]}
logdf = pd.DataFrame(log)
logdf.set_index('Time', inplace=True)
logdf

     Req Cs From CS
Time
12    CS_11   CS_10

In [16]:
logdf.to_csv('log.csv', mode='a', header=False)